img{
    height: 1.5em;
    width: 1.5em;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        justify-content: flex-end !important;
    }
    .navbar-expand-lg .navbar-collapse {
        justify-content: flex-end; 
    }
}
.pp{
    height: 5em;
    width: 5em;
}
.py-5{
    padding: 0 !important;
}
.lead {
    font-size: 2rem;
    font-weight: 400;
}
.fs-2 {
    font-size: 1.2em !important;
}
.pb-2{
    padding-top: 2rem !important;
}
.footimg{
    height: 1em;
    width: 1em;
}
footer{
    background-color: burlywood;
}
.my-4{
    margin-bottom: 0 !important;
}
